modules = ["nodejs-20", "web"]
run = "pnpm run start:dev"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "pnpm run start"]

[[ports]]
localPort = 80
externalPort = 3000

[[ports]]
localPort = 3000
externalPort = 8080

[[ports]]
localPort = 5173
externalPort = 80

[[ports]]
localPort = 8080
externalPort = 3001
